
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-bg-color: #e1cb4aab;
    --alternative-bg-color: #e1ca4a49;
    --header-text-color: white;
    --header-bg-color: black;
    --active-color: #6E6324;
    --text-color: black;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5%;
    background-color: var(--header-bg-color);
    z-index: 1000;
}

.header__brand {
    color: var(--header-text-color);
    font-size: 1.5em;
    font-weight: 600;
}

.header__nav {
    display: flex;
}

.header__link {
    color: var(--header-text-color);
    font-size: 1em;
    font-weight: 500;
    margin-left: 1em;
    transition: 0.2s;
}

.header__link:hover {
    color: var(--active-color);
}

.section {
    min-height: 100vh;
    padding: 10em 9% 2em;
    scroll-snap-align: start;
}

.social-btns {
    display: flex;
    justify-content: space-between;
    width: 5em;
}


.social-btns i{
    font-size: 2.5em;
    color: var(--text-color);
}

.social-btns i:hover{
    color: var(--active-color);
}

section:nth-of-type(even) {
    background-color: var(--alternative-bg-color);
}


#about {
    display: flex;
    align-items: center;
    background: url(img/praise.png) no-repeat;
    background-size: 20em;
    background-position: 75% 50%;
}

#about .about-main {
    max-width: 40em;
}

#about .about-main h1{
    font-size: 5em;
}

#about .about-main p {
    text-align: justify;
    margin: 1em 0;
}

.accent {
    color: var(--active-color);
}
.text-center {
    text-align: center;
}

#projects h1{
    font-size: 3em;
}

.project-card img{
    width: 100%;
    object-fit: contain;
    transition: .4s ease-out
}

.projects-container{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.project-card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    border-radius: 2em;
}


.btn-link {
    margin-top: .5em;
    color: black;
    font-size: 1.5em;
    border: 1px solid transparent;
    border-radius: 20%;
    background-color: var(--alternative-bg-color);
}